export SQLITE_DATA_DIR=data
export CACHE_SIZE=100
export LISTEN_ADDRESS=127.0.0.1
export PORT=8080
export R2_BUCKET=news-archive-dev
export R2_USE_SSL=true
export R2_ENDPOINT=https://9e2da4e2b5c6dd05d36f399d4afc7d4c.r2.cloudflarestorage.com

echo "Successfully loaded .envrc"

if [[ -f .envrc.local ]]; then
  source .envrc.local
  echo "Successfully loaded .envrc.local"
fi

