# If you use nix, you can run the nix-shell directly with the following command
if command -v nix &> /dev/null
then
    use nix
    # you can add parameters to the nix-shell as well, e.g.
    # use nix --command zsh
    # if you use lorri, replace `use nix` with (see https://github.com/nix-community/lorri)
    # eval "$(lorri direnv)"
fi

export R2_ACCESS_KEY_ID="DEV.ACCESS.KEY.ID"
export R2_SECRET_ACCESS_KEY="DEV.SECRET.ACCESS.KEY"

echo "Successfully loaded .envrc.local"
