# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details


export SQLITE_DATA_DIR=data
export CACHE_SIZE=100
export LISTEN_ADDRESS=127.0.0.1
