

<h1>Ranking Algorithms</h1>
<p>

<ul>
	<li><strong><a href="/new">new</a>, <a href="/top">top</a>, <a href="/ask">ask</a>, <a href="/show">show</a>, and <a href="/best">best</a></strong>: same as the corresponding pages on hn</li> 

	<li><strong><a href="/raw">raw</a></strong>: all stories ranked by the <a href="/about#raw-rank">"raw rank"</a></li>

	<li><strong><a href="/upvoterate">upvoterate</a></strong>: front-page ranking algorithm that uses <span class="upvoterate">×UpvoteRate</span> <a class="question-mark" href="/about#upvote-rate">(?)</a> instead of upvotes, and ignores HN moderator boosts/penalties</li>

	<li><strong><a href="/best-upvoterate">best-upvoterate</a></strong>: like upvoterate, but removes the time/gravity component to show stories with the all time highest upvoterate</li>

	<li><strong><a href="/alltime">alltime</a></strong>: ranks stories by their total overall score, ignoring time</li>

	<li><strong><a href="/alltime-upvoterate">alltime-upvoterate</a></strong>: ranks stories by their total overall upvoteRate, ignoring time</li>

	<li><strong><a href="/boosts">boosts</a></strong>: stories that have received "boosts" by HN moderators</li>

	<li><strong><a href="/penalties">penalties</a></strong>: stories that have received "penalties" by HN moderators</li>

	<li><strong><a href="/resubmissions">resubmissions</a></strong>: stories that have been randomly selected from the <a href="https://news.ycombinator.com/item?id=26998308">second-chance pool</a> and added to the front page</li>

</ul>
</p>


