<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#4a9ced">
<link rel="shortcut icon" href="static/favicon.ico">
<meta name="msapplication-TileColor" content="#4a9ced">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<style type="text/css">

{{template "normalize.css.tmpl"}}

{{template "styles.css.tmpl"}}

</style>
<title>Quality News: Hacker News Rankings</title>
</head>
<body>

{{template "header.html.tmpl"  .}}


	<div class="key">
		<span style="color: #0089f4;">×upvoteRate</span> <a href="/about#upvote-rate">(?)</a>
		&nbsp; <span style="color: #05851e">+</span>/<span style="color: #d4214b">-</span> <span style="color: #223344">rank difference</span> <a href="/about#rank-difference">(?)</a>
		&nbsp; <span class="original-age">original</span> <span class="resubmitted-age">2nd-chance<span> age <a href="/about#second-chance-age">(?)</a>
		{{if (not .IsHNTopPage)}}
		&nbsp; <span class="rank-icon hn">#top</span> page rank
		{{end}}
	</div>	

	<div class="introduction">
		{{if .IsRawPage}}
				Stories ordered by raw ranking score (no penalties or bonuses)
		{{end}}
	</div>




<ol class="stories">
{{range .Stories}}
<li id="{{.ID}}">
{{template "storyDetails.html.tmpl" .}}
</li>
{{end}}
</ol>

<div class="stats">
<h2>stats</h2>
<ul>
<li>Average Submission Time: {{.AverageAgeString}}</li>
<li>Estimated Overall Upvote Rate: {{.AverageQualityString}}×</li>
<li>Average Upvotes: {{.AverageUpvotesString}}</li>
</ul>
</div>


<div class="parameters">
<h2>parameters</h2>
<ul>
{{if .IsQualityPage }}
<li>Gravity: {{.GravityString}}</li>
{{ end }}
<li>Prior Weight: {{.PriorWeightString}}</li>
{{if .IsQualityPage }}
<li>Overall Prior Weight: {{.OverallPriorWeightString}}</li>
{{ end }}
<li>Sample Time: {{.SampleTimeString}}</li>
</ul>
</div>


</body>
</html>
