
function prepareRanksPlotData(dataPoints, submissionTime) {

  var results = []

  // plot only age, qntop, hntop, new, and best
  // so 5 columns of data (x axis plus 4 ranks) 
  var n = 5 
  var lastValue = [null,null,null,null,null]
  for (var i = 0; i < dataPoints.length; i++) { 

    var p = dataPoints[i].slice(0, n)

    // convert timestamp to age in hours
    p[0] = (p[0] - submissionTime)/3600

    // only plot a single point when a line leaves/exits the chart from below rank 91
    for (var j = 1; j < n; j++) {
      var lastValueIsOffChart = ( lastValue[j] == 91 || lastValue[j] == null )
      var nextValueIsOnChart = ( i+1 < dataPoints.length && dataPoints[i+1][j] != null && dataPoints[i+1][j] != 91)

      if ( p[j] == 91 && (lastValueIsOffChart && !nextValueIsOnChart) ) {
        p[j] = null
      } else {
        lastValue[j] = p[j]
      } 
    }
    results[i] = p
  }
  return results
}

function ranksPlot(dataPoints, submissionTime, startTime, endTime) {
  var plotDiv = document.getElementById('ranks_plot_div')

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Age');
//  data.addColumn('number', 'QN Rank');
  data.addColumn('number', 'Expected Rank');
  data.addColumn('number', '"Top" Rank');
  data.addColumn('number', '"New" Rank');
  data.addColumn('number', '"Best" Rank');

  data.addRows(prepareRanksPlotData(dataPoints, submissionTime));

  var ageFormatter = new ageFormat();
  
  ageFormatter.format(data, 0);

  var rankFormatter = new rankFormat()
  rankFormatter.format(data, 1);
  rankFormatter.format(data, 2);
  rankFormatter.format(data, 3);
  rankFormatter.format(data, 4);


  // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
  var options = {
    backgroundColor: {fill: 'transparent'},
    dataOpacity: 0.85,
    hAxis: {
      title: 'Age [hours]',
      logScale: false,
      viewWindow: {
        min: (startTime-submissionTime)/3600,
        max: (endTime-submissionTime)/3600,
      }
    },
    vAxis: {
      title: 'Rank',
      logScale: true,
      direction: -1,
      viewWindow: {
        max: 1,
        min: 91
      },
      ticks: [1,2,4,8,16,32,64,{v: 91, f: "> 90"}],
    },
    interpolateNulls: false, 
    series: {
      0: {pointShape: 'diamond', pointSize: 3, interpolateNulls: false},
      1: {pointShape: 'circle', pointSize: 5, interpolateNulls: false},
      2: {pointShape: 'square', pointSize: 5, interpolateNulls: false},
      3: {pointShape: 'square', pointSize: 5, interpolateNulls: false},
//            4: {pointShape: 'square', pointSize: 0},
//            5: {pointShape: 'square', pointSize: 0}
    },

    lineDashStyle: [4,4],
    lineWidth: 2,
    colors: ['black', '#FF6600', "#AF7FDF", "#6FAEAE", "green","pink"],
    // colors: ['#0089F4', '#FF6600', "#AF7FDF", "#6FAEAE", "green","pink"],
    chartArea:{left:80, top:50, bottom: 80, right: 80},
    height: 350,
    legend: { position: 'bottom' },
    crosshair: { trigger: 'both' },
    title: "Rank",
  };

  var chart = new google.visualization.LineChart(plotDiv);

  chart.draw(data, options);
}
