<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#4a9ced">
<link rel="shortcut icon" href="static/favicon.ico">
<meta name="msapplication-TileColor" content="#4a9ced">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<style type="text/css">

{{template "normalize-css"}}

{{template "styles"}}


</style>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(function() {
  drawRanksPlot()
  drawUpvotesPlot()
  drawUpvoteRatePlot()
});

{{template "ranks-plot" .Story}}
{{template "upvotes-plot" .Story}}
{{template "upvoterate-plot" .Story}}

</script>



<title>Story Stats</title>
</head>
<body>

{{template "story-details" .Story}}

<div id="ranks_plot_div"></div>
<div id="upvotes_plot_div"></div>
<div id="upvoterate_plot_div"></div>

</body>
</html>
