<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#4a9ced">
<link rel="shortcut icon" href="static/favicon.ico">
<meta name="msapplication-TileColor" content="#4a9ced">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta charset="UTF-8">

<style type="text/css">

{{template "normalize.css.tmpl"}}

{{template "styles.css.tmpl"}}


.content {
  padding: 0 10px 20px 10px;
}

</style>


<script type="text/javascript">
{{template "vote.js.tmpl"}}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

{{template "storyplots.js.tmpl" .}}

</script>


<script data-goatcounter="https://qualitynews.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<title>Hacker News Story Stats: {{.Title}}</title>
<meta name="description" content="These charts shows the history of this story's rank on the Hacker News, as well as other performance stats">


</head>
<body>

{{template "header.html.tmpl"  .}}

<div class="content">

<br/>

{{template "storyDetails.html.tmpl" .StoryTemplateData}}

<div class="storyplot-header">
  <h2> Story Stats </h2>
  <span class="storyplot-date-selector">

    <!-- Time picker that selects a date range (not a timestamp). Easily increment
    days/hours/minutes. -->

    <select name="storyplot-date-selector" onchange="changeRelativeDate(this)">
      {{if (ge .MaxAgeHours 1)}}<option value="1">first hour</option>{{end}}
      {{if (ge .MaxAgeHours 3)}}<option value="3">first 3 hours</option>{{end}}
      {{if (ge .MaxAgeHours 6)}}<option value="6">first 6 hours</option>{{end}}
      {{if (ge .MaxAgeHours 12)}}<option value="12">first 12 hours</option>{{end}}
      {{if (ge .MaxAgeHours 24)}}<option value="24">first day</option>{{end}}
      {{if (ge .MaxAgeHours 48)}}<option value="48">first 2 days</option>{{end}}
      {{if (ge .MaxAgeHours 72)}}<option value="72">first 3 days</option>{{end}}
      {{if (ge .MaxAgeHours 96)}}<option value="96">first 4 days</option>{{end}}
      {{if (ge .MaxAgeHours 120)}}<option value="120">first 5 days</option>{{end}}
      {{if (ge .MaxAgeHours 144)}}<option value="144">first 6 days</option>{{end}}
      {{if (ge .MaxAgeHours 168)}}<option value="168">first week</option>{{end}}
      <option selected value="100000">all time</option>
    </select>

    <!-- Alternative date selector. But I like the above a bit better. -->
    <!--
      <label for="storyplot-date-selector">Max Timestamp</label>
      <input 
        type="datetime-local" 
        name="storyplot-date-selector"
        id="storyplot-date-selector"
        onchange="changeDate(this)" 
        value="{{.MaxSampleTimeISOString}}"
        min="{{.OriginalSubmissionTimeISOString}}" 
        max="{{.MaxSampleTimeISOString}}"
      > 
    -->

  </span>
</div>

<div id="storyplots">

  <div id="ranks_plot_div"></div>
  <div class="plot-description">
    This chart shows the history of this story's rank on the Hacker News <a href="https://news.ycombinator.com/" style="color: #FF6600; font-weight: bold;">"Top"</a> (Front) Page,
    <a href="https://news.ycombinator.com/newest" style="color: #AF7FDF; font-weight: bold;">"New"</a> Page,
    and <a href="https://news.ycombinator.com/best" style="color: #6FAEAE; font-weight: bold;">"Best"</a> Page, as well as its <a href="/about#raw-rank" style="color: black; font-weight: bold; text-decoration: underline;">raw rank</a> given the Hacker News ranking formula.
  </div>

  <hr/>

  <div id="upvotes_plot_div"></div>
  <div class="plot-description">
    This chart shows the history of this story's <span style="color: #55cccc; font-weight: bold;">upvotes</span> compared to the <a href="/about#expected-upvotes" style="color: black; font-weight: bold; text-decoration: underline;">expected upvotes</a> for stories shown at the same ranks and times.
  </div>

  <hr/>

  <div id="upvoterate_plot_div"></div>
  <div class="plot-description">
    This chart shows the history of this story's estimated true <a href="/about#upvote-rate" style="color: #0089F4; font-weight: bold; text-decoration: underline;">upvote rate</a>: the predicted long-term ratio of upvotes to expected upvotes.
  </div>

  <hr/>

</div>
</div>

</body>
</html>
