<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#4a9ced">
<link rel="shortcut icon" href="static/favicon.ico">
<meta name="msapplication-TileColor" content="#4a9ced">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<style type="text/css">

{{template "normalize.css.tmpl"}}

{{template "styles.css.tmpl"}}

{{template "spinner.css.tmpl"}}

.content {
  padding: 0 10px 20px 10px;
}

</style>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

{{template "storyplots.js.tmpl" .Story}}

</script>



<title>Hacker News Story Stats: {{.Story.Title}}</title>
</head>
<body>

{{template "header.html.tmpl"  .}}

<div class="content">

<br/>

{{template "storyDetails.html.tmpl" .Story}}

<h2> Story Stats </h2>

<div id="storyplots">

  <div id="ranks_plot_div" class="spinner"></div>
  <div class="plot-description">
    This chart shows the history of this story's rank on <a href="/" style="color: #0089F4; font-weight: bold;">Quality News</a> compared to its rank on 
    the Hacker News <a href="https://news.ycombinator.com/" style="color: #FF6600; font-weight: bold;">Front Page</a>,
    <a href="https://news.ycombinator.com/newest" style="color: #AF7FDF; font-weight: bold;">"New"</a> Page,
    and <a href="https://news.ycombinator.com/best" style="color: #6FAEAE; font-weight: bold;">"Best"</a> Page.
  </div>


  <div id="upvotes_plot_div" class="spinner"></div>
  <div class="plot-description">
    This chart shows the history of this story's <span style="color: #55cccc; font-weight: bold;">upvotes</span> compared to the <span style="color: black; font-weight: bold">expected upvotes</span> for stories shown at the same ranks and times. See the <a href="https://github.com/social-protocols/news#about">about page</a> for further details.
  </div>



  <div id="upvoterate_plot_div" class="spinner"></div>
  <div class="plot-description">
    This chart shows the history of this story's <span style="color: #0089F4; font-weight: bold;">estimated true upvote rate</span>: the predicted long-term ratio of upvotes to expected upvotes. See the <a href="https://github.com/social-protocols/news#about">about page</a> for further details.
  </div>

  <div id="penalty_plot_div" class="spinner"></div>
  <div class="plot-description">
    This chart shows a history of the story's estimated <span style="color: #b32b6c; font-weight: bold;">current penalty</span> based on the discrepancy between the story's <span style="color: #FF6600; font-weight: bold;">HN rank</span> and its expected rank based on the published ranking formula. A factor based on the moving <span style="color: red; font-weight: bold;">average estimated penalty</span> is then applied to the QN ranking score.
  </div>


</div>
</div>

</body>
</html>
