<div class="story-item">
<!--<a class="upvote-button" href="https://news.ycombinator.com/item?id={{.ID}}" target="_blank" rel="noopener noreferrer">▲</a>//-->
<div>
  <div><a class="story-title" href="{{.URL}}">{{.Title}}</a>{{if ne .Domain ""}} (<a class="story-domain" href="https://news.ycombinator.com/from?site={{.Domain}}">{{.Domain}}</a>){{end}}</div>
  <div class="story-details">
    <a href="/stats?id={{.ID}}" class="quality-string">×{{.QualityString}}</a> | 
    {{.Score}} points by <a href="https://news.ycombinator.com/user?id={{.By}}">{{.By}}</a> 
    {{if .IsResubmitted}}<span class="original-age" title="{{.OriginalISOTimestamp}}">{{.OriginalAgeString}}</span>{{end}} <a href="https://news.ycombinator.com/item?id={{.ID}}" title="{{.ISOTimestamp}}">{{.AgeString}}</a> |
    <span class="comparative-rank">
      {{if .TopRank.Valid}}<a href="/hntop#{{.ID}}"><span class="rank-icon hn">#{{.TopRank.Value}}</span> on HN</a> |{{end}}
      {{if .QNRank.Valid}}<a href="/#{{.ID}}"><span class="rank-icon qn">#{{.QNRank.Value}}</span> on QN</a> |{{end}}
    </span>
    <a href="https://news.ycombinator.com/item?id={{.ID}}">{{if (eq .Comments 0)}}discuss{{else}}{{.Comments}}&nbsp;comments{{end}}</a> 

    {{if .HasPenalty}} | <span class="penalty">{{.PenaltyString}}</span>{{end}}
    {{if .HasBoost}} | <span class="boost">{{.BoostString}}</span>{{end}}
  </div>
</div>
</div>
