<div class="story-item">
<!--<a class="upvote-button" href="https://news.ycombinator.com/item?id={{.ID}}" target="_blank" rel="noopener noreferrer">▲</a>//-->
<div>
  <div><a class="story-title" href="{{.URL}}">{{.Title}}</a>{{if ne .Domain ""}} (<a class="story-domain" href="https://news.ycombinator.com/from?site={{.Domain}}">{{.Domain}}</a>){{end}}</div>
  <div class="story-details">
    {{if .Flagged}}[flagged]{{end}}
    {{if .Dupe}}[dupe]{{end}}
    <span {{if ge .QualityString "1"}} class="quality-string" {{end}}{{if ge .QualityString "2"}} style="font-weight:bold;" {{end}}>×{{.QualityString}}</span> 
    {{if lt .RankDiff 0}}<span class="penalty">{{.RankDiff}}</span>{{end}}
    {{if gt .RankDiff 0}}<span class="boost">+{{.RankDiff}}</span>{{end}}
    {{if (not .IsStatsPage)}} <a href="/stats?id={{.ID}}"><img src="/static/chart-646.png" height="12px"/></a> {{end}}
    <span class="comparative-rank">
      {{if and .TopRank.Valid (not .IsHNTopPage)}}<a href="/#{{.ID}}"><span class="rank-icon hn">#{{.TopRank.Value}}</span></a> {{end}}

{{/*      {{if and .QNRank.Valid (le .QNRank.Int32 90) (not .IsQualityPage) }}<a href="/#{{.ID}}"><span class="rank-icon qn">#{{.QNRank.Value}}</span> on QN</a> |{{end}} */}}
    </span>
    | 
    {{.Score}} points by <a href="https://news.ycombinator.com/user?id={{.By}}">{{.By}}</a> 
    {{if .IsResubmitted}}<span class="original-age" title="{{.OriginalISOTimestamp}}">{{.OriginalAgeString}}</span>{{end}} <a href="https://news.ycombinator.com/item?id={{.ID}}" title="{{.ISOTimestamp}}">{{.AgeString}}</a> |
    <a href="https://news.ycombinator.com/item?id={{.ID}}">{{if (eq .Comments 0)}}discuss{{else}}{{.Comments}}&nbsp;comments{{end}}</a> 

  </div>
</div>
</div>
