<div class="story-item" id="story-{{.ID}}">
<!--<a class="upvote-button" href="https://news.ycombinator.com/item?id={{.ID}}" target="_blank" rel="noopener noreferrer">▲</a>//-->
<div>
  <div>
    <a class="story-title" href="{{.URL}}">{{.Title}}</a>
    {{if ne .Domain ""}} <span class="story-domain">(<a href="https://news.ycombinator.com/from?site={{.Domain}}">{{.Domain}}</a>)</span>{{end}}
  </div>
  <div class="story-details">
    {{if .Flagged}}[flagged]{{end}}
    {{if .Dupe}}[dupe]{{end}}

  {{if (not .Job)}}
    <a href="/stats?id={{.ID}}">

      <span 
        title="Estimated True Upvote Rate:&#013;Ratio of how more or less likely users are to upvote this story compared to the average story (x1.00)."
        {{if ge .UpvoteRateString "1"}} class="upvoterate" {{end}}
        {{if ge .UpvoteRateString "2"}} style="font-weight:bold;" {{end}}>
        ×{{.UpvoteRateString}}</span> 

    </a>
    <span>
      {{if and (.IsAlternativeFrontPage) .OverRanked}}<a href="/stats?id={{.ID}}"><span title="Rank Delta:&#013;Difference between rank on top page and 'raw' rank before penalties or boosts" class="delta over-ranked">{{.RankDiffAbs}}</span></a> {{end}}
      {{if and (.IsAlternativeFrontPage) .UnderRanked}}<a href="/stats?id={{.ID}}"><span title="Rank Delta:&#013;Difference between rank on top page and 'raw' rank before penalties or boosts" class="delta under-ranked">{{.RankDiffAbs}}</span></a> {{end}}
    </span>

    <span class="comparative-rank">
      {{if and .TopRank.Valid (not .IsHNTopPage)}}<a href="/#{{.ID}}"><span title="Rank on Hacker News Front Page" class="rank-icon hn">#{{.TopRank.Value}}</span></a> {{end}}

    </span>

    |

    {{.Score}} points by <a href="https://news.ycombinator.com/user?id={{.By}}">{{.By}}</a> 

  {{end}}

    <a href="https://news.ycombinator.com/item?id={{.ID}}" title="{{.ISOTimestamp}}">{{.AgeString}}</a>

    |

    <a href="https://news.ycombinator.com/item?id={{.ID}}">{{if (eq .Comments 0)}}discuss{{else}}{{.Comments}}&nbsp;comments{{end}}</a> 

    <span class="vote" id="vote-{{.ID}}">
      | 
      <a href="javascript:toggleUpvote({{ .ID }})" class="upvote">▲</a> 
      <a href="javascript:toggleDownvote({{ .ID }})" class="downvote">▼</a>

      <span class="showifvoted price"><span class="upvoterate">???</span></span>

      <span class="showifvoted gainorloss gain">???</span>
    </span>

  </div>
</div>
</div>
