html {
  scroll-padding-top: 80%;
}


body {
  background-color: #F6F6EF;
  font-size:13px;
  color:#223355;
  font-family:Verdana, Geneva, sans-serif;
  margin: 0;
}

.key {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left:  44px;
}

.introduction {
  color: #223344;
  font-size: 15px;
  margin-left:  44px;
  margin-right:  7px;
  margin-bottom: 8px;
}

.stories li {
  margin-bottom: 6px;
}

.stories li::marker {
  font-size: 15px;
  color: #828282;
}

.stories {
  margin-top: 0px;
  margin-left:  5px;
  margin-right:  7px;
}

#storyplots {
  height:  auto;
  min-width: 400px; 
  max-width: 650px; 
  border: background-color: red;
}

.plot-description {
  margin-top: 2px;
  margin-bottom: 14px;
  margin-left: 50px; 
  color: #303040;
}

a:link.upvote-button,
a:visited.upvote-button {
  color: #9A9A9A;
  margin-right: 0.5rem;
  font-size: 13px;
  align-self: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 15px;
}

@media (max-width:480px)  {
  .stories {
    margin-left: 0;
    margin-right: 3px;
    padding-left: 4ch;
  }
  a:link.upvote-button,
  a:visited.upvote-button {
    margin-right: 0;
  }
}

.story-item {
  display: flex;
  align-items: baseline;
}

.story-title {
  font-size: 15px;
}

.story-details {
  font-size: 12px;
  color: #828282;
}

.story-details .quality-string,
.story-details a:link.quality-string,
.story-details a:visited.quality-string {
  color: #0089f4;
}


.rank-icon {
  display: inline-block;
  text-align: center;
  min-width: 2em;
  padding-left:  2px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius:  6px;
}

.rank-icon.hn {
  background-color:  rgba(255,102,00,.2);
}

.rank-icon.qn {
  background-color:  #cae2f4;
  color: #5a6266;
}

.story-details .penalty,
.story-details a:link.penalty,
.story-details a:visited.penalty {
  color: #d4214b;
}


.story-details .boost,
.story-details a:link.boost,
.story-details a:visited.boost {
  color: #05851e;
}

.original-age {
  text-decoration: line-through;
}

a:link.question-mark,
a:visited.question-mark {
  color: #828282;
}

.resubmitted-age,
.story-details a:link.resubmitted-age,
.story-details a:visited.resubmitted-age {
  color: darkgreen;
}

.header a:link    { color:#000000; text-decoration:none; }
.header a:visited { color:#828282; text-decoration:none; }


.story-item a:link    { color:#000000; text-decoration:none; }
.story-item a:visited { color:#828282; text-decoration:none; }


.story-details a:link,
.story-domain, .story-domain a:link {
  color:#828282;
  text-decoration:none; 
}
.story-details a:hover,
.story-domain a:hover {
  text-decoration:underline; 
}

.header {
  background-color: #86bdf3;
  color: #000000;
  font-size: 12px;
  padding: 6px 10px;
  display:flex;
  align-items: center;
}

.header a:link, .header a:visited {
  color: #000000;
}

a:link.header-title, a:visited.header-title {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 15px;
}

.icon {
  width: 20px;
  height: 20px;
}

.stats {
  margin-left:  5px;
  margin-right:  7px;
}

a:link.nav-link {
  margin: 0px;
  padding: 2px 3px;
  border-radius: 2px;
}

a:link.nav-link.active,
a:visited.nav-link.active {
  background:  white;
  color: black;
}



@keyframes highlight {
    0% {
        background: lightblue;
    }
    100% {
        background: none;
    }
}

:target {
    animation: highlight 2s;
}

