:root {
  --background: #f6f6ef;
  --text: #223355;
  --text-dimmed: #828282;
  --text-red: #d4214b;
  --text-green: #05851e;
  --text-blue: #0089f4;
}

html {
  scroll-padding-top: 80%;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  margin: 0;
}

body a:link,
body a:visited {
  color: var(--text);
}

@keyframes highlight {
  0% {
    background: lightblue;
  }
  100% {
    background: none;
  }
}

:target {
  animation: highlight 2s;
}

/* HEADER */

.header {
  background-color: #86bdf3;
  color: #000000;
  font-size: 12px;
  padding: 6px 10px;

  display: flex;
  align-items: center;
}

.header .icon {
  width: 20px;
  height: 20px;
}

.header a:link.header-title,
.header a:visited.header-title {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 15px;
}

.header a:link,
.header a:visited {
  color: #000000;
  text-decoration: none;
}

.header a:link.nav-link {
  margin: 0px;
  padding: 2px 3px;
  border-radius: 2px;
}

.header a:link.nav-link.active,
.header a:visited.nav-link.active {
  background: #ffffff;
  color: #000000;
}

/* CONTENT */

.introduction {
  margin-left: 28px;
  margin-right: 7px;
  margin-top: 8px;
  margin-bottom: 12px;
  max-width: 650px;
}

.key {
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 44px;
}

.key a:link.question-mark,
.key a:visited.question-mark {
  color: var(--text-dimmed);
  text-decoration: none;
}

/* STORY LIST */

.stories li {
  margin-bottom: 6px;
}

.stories li::marker {
  font-size: 15px;
  color: var(--text-dimmed);
}

.stories {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 7px;
}

@media (max-width: 480px) {
  .stories {
    margin-left: 0;
    margin-right: 3px;
    padding-left: 4ch;
  }
  a:link.upvote-button,
  a:visited.upvote-button {
    margin-right: 0;
  }
}

/* STORY DETAILS */

/*
.story-item {
  display: flex;
  align-items: baseline;
}

a:link.upvote-button,
a:visited.upvote-button {
  color: #9a9a9a;
  margin-right: 0.5rem;
  font-size: 13px;
  align-self: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 15px;
}
*/

a:link.story-title {
  text-decoration: none;
  color: #000000;
}

a:visited.story-title {
  color: var(--text-dimmed);
}

.story-domain {
  font-size: 13px;
}
.story-domain,
.story-domain a:link,
.story-domain a:visited {
  color: var(--text-dimmed);
  text-decoration: none;
}
.story-domain a:hover {
  text-decoration: underline;
}

.story-details {
  font-size: 12px;
  color: var(--text-dimmed);
}
.story-details a:link,
.story-details a:visited {
  color: var(--text-dimmed);
  text-decoration: none;
}
.story-details a:hover {
  text-decoration: underline;
}

.upvoterate,
a:link.upvoterate,
a:visited.upvoterate {
  color: var(--text-blue);
}

.penalty,
a:link.penalty,
a:visited.penalty {
  color: var(--text-red);
}

.boost,
a:link.boost,
a:visited.boost {
  color: var(--text-green);
}

.rank-icon {
  display: inline-block;
  text-align: center;
  min-width: 2em;
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* negative margin reverts the height increase by the padding */
  margin-top: -1px;
  margin-bottom: -1px;
}

.rank-icon.hn {
  background-color: rgba(255, 102, 00, 0.2);
  color: #6c6c6c;
}

.rank-icon.qn {
  background-color: #cae2f4;
  color: #5a6266;
}

.original-age {
  text-decoration: line-through;
}

.resubmitted-age,
a:link.resubmitted-age,
a:visited.resubmitted-age {
  color: var(--text-green);
}

/* STATS */

.stats {
  margin-left: 5px;
  margin-right: 7px;
}

/* PLOTS */

#storyplots {
  height: auto;
  min-width: 400px;
  max-width: 650px;
}

.plot-description {
  margin-top: 2px;
  margin-bottom: 14px;
  margin-left: 50px;
  color: #303040;
}
