{{define "upvotes-plot"}}



google.charts.load('current', {packages: ['corechart', 'line']});

var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
};


function drawUpvotesPlot() {

  var plotDiv = document.getElementById('upvotes_plot_div')

  getJSON('/plots/upvotes.json?id={{.ID}}',
  function(err, dataPoints) {
    if (err !== null) {
      plotDiv.innerHTML = "error fetching chart data"
        plotDiv.classList.remove("spinner")
    } else {

        // Modify our dataset so that we only plot a point in the upvotes
        // series if there was an upvote. 

        var lastValue = -1
        for (var i = 0; i < dataPoints.length; i++) { 
          var p = dataPoints[i]
          if (p[1] == lastValue) {
            p[1] = null
          } else {
            lastValue = p[1]
          }
        }

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Age');
        data.addColumn('number', 'Upvotes');
        data.addColumn('number', 'Expected Upvotes');

        data.addRows(dataPoints);

        var formatter = new google.visualization.NumberFormat({suffix: ' hours'});
        formatter.format(data, 0); // Apply formatter to second column

        // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
        var options = {
          backgroundColor: {fill: 'transparent'},
          chartArea:{left:80,top:50, bottom: 80},
          hAxis: {
            title: 'Age [hours]',
            logScale: false
          },
          vAxis: {
            title: 'Upvotes',
            viewWindow: 'pretty',
          },
          series: {
            0: {lineWidth: 2, lineDashStyle: [4,4], pointSize: 5},
            1: {lineWidth: 3, curveType: 'function'},
          },

          // we want a line to be drawn over intervals where the upvotes is null
          // since we set the upvotes to null above if there wasn't an increase in upvotes
          interpolateNulls: true, 

          colors: ['#55cccc', 'black'],
          height: 500,
          width : 1000,
          crosshair: { trigger: 'both' },
        };

        var chart = new google.visualization.LineChart(plotDiv);
        plotDiv.classList.remove("spinner")
        chart.draw(data, options);
    }
  })
}

{{end}}

