var upvoteRateData

function drawUpvoteRatePlot() {

  var plotDiv = document.getElementById('upvoterate_plot_div')

  if (upvoteRateData !== undefined) {
    return upvoteRatePlot()
  }

  getJSON('/plots/upvoterate.json?id={{.ID}}',
    function(err, dataPoints) {
      plotDiv.classList.remove("spinner")
      if (err !== null) {
        plotDiv.innerHTML = "error fetching chart data"
      } else {
        // average upvoteRate is always 1
        for (var i = 0; i < dataPoints.length; i++) { 
          dataPoints[i].push(1)
        }

        upvoteRateData = dataPoints
        upvoteRatePlot()
      }
    }
  )
}

function upvoteRatePlot() {

  var plotDiv = document.getElementById('upvoterate_plot_div')

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Age');
  data.addColumn('number', 'Estimated True Upvote Rate');
  data.addColumn('number', 'Expected Upvote Rate');

  data.addRows(upvoteRateData);

  var ageFormatter = new ageFormat()
  ageFormatter.format(data, 0);

  // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
  var options = {
    backgroundColor: {fill: 'transparent'},
    hAxis: {
      title: 'Age [hours]',
      logScale: false
    },
    vAxis: {
      title: 'Upvote Rate',
      logScale: true,
      viewWindow: {
        min: 0
      },
    },
    series: {
      0: {},
      1: {lineDashStyle: [6,6], lineWidth: 3}
    },

    lineWidth: 3,
    colors: ['#0089F4', 'black'],
    chartArea:{left:80,top:50, bottom: 80, right: 20},
    legend: { position: 'bottom' },
    height: 400,
    crosshair: { trigger: 'both' },
  };

  var chart = new google.visualization.LineChart(plotDiv);
  chart.draw(data, options);
}


