{{define "upvoterate-plot"}}



google.charts.load('current', {packages: ['corechart', 'line']});

var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
};


function drawUpvoteRatePlot() {

  var plotDiv = document.getElementById('upvoterate_plot_div')

  getJSON('/plots/upvoterate.json?id={{.ID}}',
  function(err, dataPoints) {
    if (err !== null) {
      plotDiv.innerHTML = "error fetching chart data"
        plotDiv.classList.remove("spinner")
    } else {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Age');
        data.addColumn('number', 'Estimated True Upvote Rate');
        data.addColumn('number', 'Expected Upvote Rate');

        // average upvotes is always 1
        for (var i = 0; i < dataPoints.length; i++) { 
          dataPoints[i].push(1)
        }

        data.addRows(dataPoints);

        var formatter = new google.visualization.NumberFormat({suffix: ' hours old'});
        formatter.format(data, 0); // Apply formatter to second column

        // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
        var options = {
          backgroundColor: {fill: 'transparent'},
          chartArea:{left:80,top:50, bottom: 80},
          hAxis: {
            title: 'Age [hours]',
            logScale: false
          },
          vAxis: {
            title: 'Upvote Rate',
            logScale: true,
            viewWindow: {
              min: 0
            },
          },
          series: {
            0: {},
            1: {lineDashStyle: [6,6], lineWidth: 3}
          },

          lineWidth: 3,
          colors: ['#0089F4', 'black'],
          height: 500,
          width : 1000
        };

        var chart = new google.visualization.LineChart(plotDiv);
        plotDiv.classList.remove("spinner")
        chart.draw(data, options);
    }
  })
}

{{end}}

