function prepareUpvoteRatePlotData(dataPoints, submissionTime) {
  return dataPoints.map((dataPoint, i) => [(dataPoints[i][0] - submissionTime)/3600, dataPoints[i][3], 1, dataPoints[i][4]])
}

function upvoteRatePlot(upvoteRatePlotData, submissionTime, startTime, endTime) {

  var plotDiv = document.getElementById('upvoterate_plot_div')

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Age');
  data.addColumn('number', 'Estimated True Upvote Rate');
  data.addColumn('number', 'Expected Upvote Rate');
  data.addColumn('number', 'Moving-Average Upvote Rate');

  data.addRows(prepareUpvoteRatePlotData(upvoteRatePlotData, submissionTime));

  var ageFormatter = new ageFormat()
  ageFormatter.format(data, 0);

  // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
  var options = {
    backgroundColor: {fill: 'transparent'},
    hAxis: {
      title: 'Age [hours]',
      logScale: false,
      viewWindow: {
        min: (startTime-submissionTime)/3600,
        max: (endTime-submissionTime)/3600,
      }
    },
    vAxis: {
      title: 'Upvote Rate',
      logScale: true,
      viewWindow: {
        min: 0
      },
    },
    series: {
      0: {},
      1: {lineDashStyle: [5,5], lineWidth: 2},
      2: {}
    },

    lineWidth: 3,
    colors: ['#0089F4',  'black', 'darkblue'],
    chartArea:{left:80, top:50, bottom: 80, right: 80},
    height: 350,
    legend: { position: 'bottom' },
    crosshair: { trigger: 'both' },
    title: "Upvote Rate",
  };

  var chart = new google.visualization.LineChart(plotDiv);
  chart.draw(data, options);
}


