var upvotesData

function drawUpvotesPlot() {

  var plotDiv = document.getElementById('upvotes_plot_div')

  if (upvotesData !== undefined) {
    return upvotesPlot()
  }

  getJSON('/plots/upvotes.json?id={{.ID}}',
    function(err, dataPoints) {
      plotDiv.classList.remove("spinner")
      if (err !== null) {
        plotDiv.innerHTML = "error fetching chart data"
      } else {


        // Modify our dataset so that we only plot points immediately
        // before or after a change. This way the plot looks more like a staircase
        // where the line is horizontal until there is an upvote then jumps up. Then we
        // only have diagonal lines where there is missing data.
        var lastValue = null
        for (var i = 0; i < dataPoints.length; i++) { 
          var p = dataPoints[i]
          if ( p[1] != lastValue || i+1 == dataPoints.length || p[1] != dataPoints[i+1][1] )  {
            lastValue = p[1]
          } else {
            p[1] = null
          }
        }

        upvotesData = dataPoints
        upvotesPlot()
      }
    }
  )
}

function upvotesPlot() {

  var plotDiv = document.getElementById('upvotes_plot_div')

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Age');
  data.addColumn('number', 'Upvotes');
  data.addColumn('number', 'Expected Upvotes');

  data.addRows(upvotesData);

  var ageFormatter = new ageFormat()
  ageFormatter.format(data, 0);

  // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
  var options = {
    backgroundColor: {fill: 'transparent'},
    hAxis: {
      title: 'Age [hours]',
      logScale: false
    },
    vAxis: {
      title: 'Upvotes',
      viewWindow: 'pretty',
    },
    series: {
      0: {lineWidth: 2, lineDashStyle: [4,4], pointSize: 5},
      1: {lineWidth: 3, curveType: 'function'},
    },

    // we want a line to be drawn over intervals where the upvotes is null
    // since we set the upvotes to null above if there wasn't an increase in upvotes
    interpolateNulls: true, 

    colors: ['#55cccc', 'black'],
    chartArea:{left:80,top:50, bottom: 80, right: 20},
    legend: { position: 'bottom' },
    height: 400,
    crosshair: { trigger: 'both' },
    title: "Upvotes",
  };

  var chart = new google.visualization.LineChart(plotDiv);
  chart.draw(data, options);
}


