{{define "upvotes-plot"}}



google.charts.load('current', {packages: ['corechart', 'line']});

var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status === 200) {
        callback(null, xhr.response);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
};


function drawUpvotesPlot() {

  var plotDiv = document.getElementById('upvotes_plot_div')

  getJSON('/plots/upvotes.json?id={{.ID}}',
  function(err, dataPoints) {
    if (err !== null) {
      plotDiv.innerHTML = "error fetching chart data"
    } else {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Age');
        data.addColumn('number', 'Upvotes');
        data.addColumn('number', 'Expected Upvotes');

        data.addRows(dataPoints);

        // https://developers.google.com/chart/interactive/docs/gallery/linechart#configuration-options
        var options = {
          title: "Upvotes",
          backgroundColor: {fill: 'transparent'},
          // chartArea:{left:100,top:25,width:'75%'},
          chartArea:{left:80,top:50, bottom: 80},
          hAxis: {
            title: 'Age [h]',
            logScale: false
          },
          vAxis: {
            title: 'Upvotes',
            viewWindow: 'pretty',
          },

          curveType: 'none',
          lineWidth: 3,
//          pointSize: 4,
//         pointsVisible: true,
          colors: ['#55cccc', 'black'],
          height: 500,
          width : 1000,
          crosshair: { trigger: 'both' },
        };

        var chart = new google.visualization.LineChart(plotDiv);
        plotDiv.classList.remove("spinner")
        chart.draw(data, options);
    }
  })
}

{{end}}

